.offer-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
  }

  .offer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  .discount-badge {
    top: 10px;
    left: 10px;
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
    border-radius: 5px;
  }

  .custom-scroll {
    scrollbar-width: thin;
  }

  .custom-scroll::-webkit-scrollbar {
    height: 6px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #F9690E;
    border-radius: 10px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
